<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>EduByte</title>

    <%- include ('../partials/pageheader') %>
  </head>

  <body>
    <div id="header" class="header d-flex align-items-center">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <%- include ('../partials/navbar') %>
        <!-- navbar partial -->
      </div>
    </div>

    <div class="container pt-2">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row body-width">
        <div class="col-md-8 pt-2">
          <h3 style="color: rgb(63, 63, 248)"><b><%= data.coursename %></b></h3>
        </div>
        <div class="col-6 col-md-4"></div>
      </div>

      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row body-width">
        <div class="col-6 pt-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsam,
          iure soluta placeat ex delectus eos est optio, hic dolorum amet
          blanditiis quam, natus aliquid illo quod? Aperiam nam neque,
          consectetur molestias rerum, eveniet saepe laborum error magni
          distinctio vitae animi corrupti nesciunt, repellat explicabo
          molestiae. Assumenda distinctio mollitia enim cumque aspernatur fuga
          ex quis perferendis temporibus, qui obcaecati odit laudantium
          quisquam? Magnam libero unde molestiae dignissimos mollitia iure
          debitis ad doloribus ipsa sit, accusantium adipisci placeat ducimus
          neque non?
          <div class="d-grid gap-2 d-md-block pt-4">
            <a href="/course_contents" class="btn btn-primary">Start course</a>
          </div>
        </div>

        <div class="col-6">
          <div class="video-element">
            <div class="video-background">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/Xt_Zz0m4BEE?enablejsapi=1"
                frameborder="0"
                allowfullscreen
                id="youtube-iframe"
                class="idiv-border"
              ></iframe>

              <div class="video-overlay">
                <img
                  class="play-button2"
                  id="play-button"
                  role="button"
                  src="https://i.ibb.co/KNvfBVJ/Playe-Button.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <div class="row pt-3 body-width">
        <div class="col-6 col-md-4 justify-content-center">
          
          <!--fetch from database-->
          <li>Number of lectures : <%= data.total_contents %></li>
          <li>Average duration : <%= data.avg_duration %> hours</li>

        </div>
        <div class="col-6 col-md-4 justify-content-center">
          Enrolled By
          <!--fetch from database-->
          <li><%= data.learner_count %> learners</li></li>
        </div>
        <div class="col-6 col-md-4 justify-content-center">
          Skills Acquired
          <!--fetch from database-->
          <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      var player;

      // This function creates a YouTube player instance
      function onYouTubeIframeAPIReady() {
        player = new YT.Player("youtube-iframe", {
          events: {
            onReady: onPlayerReady,
          },
        });
      }

      function onPlayerReady(event) {
        var playButton = document.getElementById("play-button");

        // Add a click event listener to the play button
        playButton.addEventListener("click", function () {
          // Toggle the display of the iframe to show/hide the video
          //iframe.style.display = "block";
          // Play the video
          player.playVideo();
          // Hide the play button
          playButton.style.display = "none";
        });
      }
    </script>

    <script src="https://www.youtube.com/iframe_api"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
